.getsummonersform {
    background-color: azure;
    margin: 0 auto;
    padding: 5px;
    top: 50%;
    transform: translateY(40vh);
    min-width: 25%;
    width: fit-content;
    min-height: 10%;
    opacity: 75%;
    border: solid black 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "uploadfile"
        "hr1"
        "addplayer"
        "hr2"
        "hr3"
        "tournamenttypeselect";
}

.getsummonersform > * {
    border: 1px solid black;
}

.getsummonersform .uploadfile {
    grid-area: uploadfile;
}

.getsummonersform .addplayer {
    grid-area: addplayer;
}

.getsummonersform .tournamenttypeselect {
    grid-area: tournamenttypeselect;
}

.getsummonersform hr {
    width: 100%;
}

    .getsummonersform #hr1 {
        grid-area: hr1;
    }

    .getsummonersform #hr2 {
        grid-area: hr2;
    }

    .getsummonersform #hr3 {
        grid-area: hr3;
    }