.playerviewer {
    display: grid;
    grid-template-columns: 10fr 1fr 10fr;
    grid-template-areas:
        "txt . ." 
        "list img banner"
        "list . banner";
}

.playerviewer > * {
    align-self: center;
    justify-self: center;
}

.playerviewer .text {
    grid-area: txt;
}

.playerviewer .list {
    grid-area: list;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

    .playerviewer .list ul {
        list-style-type: none;
        padding: 5px 0;
        margin: 0 10px;
        width: 100%;
        height: 100%;
    }

        .playerviewer .list ul li {
            width: 100%;
        }

.playerviewer img {
    grid-area: img;
    height: 100px;
}

.playerviewer .banner {
    grid-area: banner;
}