.playerviewer {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-areas: 
    "txt txt txt txt txt txt txt txt err err err err err err err err . ."
    "sn sn sn sn sn sn sn sn r1 r1 r1 r1 r2 r2 r2 r2 plus plus";
}

.playerviewer > * {
    align-self: center;
    justify-self: center;
}

.playerviewer .errMsg {
    grid-area: err;
}

.playerviewer .text {
    grid-area: txt;
}

.playerviewer input[type=text] {
    grid-area: sn;
}

.playerviewer #roles1 {
    grid-area: r1;
}

.playerviewer #roles2 {
    grid-area: r2;
}

.playerviewer button {
    grid-area: plus;
}