.playerviewer {
    display: grid;
    grid-template-columns: 10fr 1fr 10fr;
    grid-template-areas:
        "txt . ." 
        "list img banner"
        "list . banner";
}

.playerviewer > * {
    align-self: center;
    justify-self: center;
}

.playerviewer .text {
    grid-area: txt;
}

.playerviewer .list {
    grid-area: list;
    overflow: scroll;
}

.playerviewer img {
    grid-area: img;
    height: 100px;
}

.playerviewer .banner {
    grid-area: banner;
}