.playertag {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    background-color: lightcoral;
    padding: 2%;
    position: relative;
}

.playertag:hover {
    background-color: lightsalmon;
}

    .playertag button {
        background: red;
        border: none;
        position: absolute;
        right: 2%;
        justify-self: right;
    }

    .playertag button:hover {
        background: darkred;
    }