.playertag {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    border: 1px solid black;
    cursor: default;
}

.playertag .name {
    background-color: lightskyblue;
    width: 88%;
    padding: 2%;
    padding-right: 0;
    line-height: 1.15;
}

.playertag .name:hover {
    background-color: lightsteelblue;
}

    .playertag .button {
        text-align: center;
        background: #ffbd44;
        position: absolute;
        right: 0%;
        width: 10%;
        padding: 2% 0;
        line-height: 1.15;
    }

    .playertag .button:hover {
        background: #ff605c;
    }